<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.xc3fff0e.xmanager">
	<uses-permission	android:name="android.permission.INTERNET"/>
	<uses-permission	android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission	android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission	android:name="android.permission.WAKE_LOCK"/>
	<uses-permission	android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<application
		android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
		android:label="xManager"
		android:icon="@drawable/app_icon"
		android:largeHeap="true"
		android:usesCleartextTraffic="true"
		android:theme="@style/AppTheme">
		<activity
			android:name=".MainActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden">
			<intent-filter>
				<action	android:name="android.intent.action.MAIN"/>
				<category	android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".SplashActivity"
			android:configChanges="orientation|screenSize|keyboardHidden|smallestScreenSize|screenLayout"
			android:hardwareAccelerated="true"
			android:supportsPictureInPicture="true"
			android:theme="@style/AppTheme.FullScreen"
			android:screenOrientation="portrait"
			android:windowSoftInputMode="stateHidden"/>
		<meta-data
			android:name="com.google.android.gms.version"
			android:value="@integer/google_play_services_version"/>
		<provider
			android:name="com.google.firebase.provider.FirebaseInitProvider"
			android:authorities="com.xc3fff0e.xmanager.firebaseinitprovider"
			android:exported="false"
			android:initOrder="100"/>
		<service
			android:name="com.google.firebase.components.ComponentDiscoveryService"
			android:exported="false">
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.database.DatabaseRegistrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
			<meta-data
				android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
				android:value="com.google.firebase.components.ComponentRegistrar"/>
		</service>
		<service
			android:name="com.google.firebase.messaging.FirebaseMessagingService"
			android:exported="false">
			<intent-filter	android:priority="-500">
				<action	android:name="com.google.firebase.MESSAGING_EVENT"/>
			</intent-filter>
		</service>
		<receiver
			android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
			android:exported="true"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action	android:name="com.google.android.c2dm.intent.RECEIVE"/>
			</intent-filter>
		</receiver>
		<uses-library
			android:name="org.apache.http.legacy"
			android:required="false"/>
	</application>
</manifest>
